<a href="https://colab.research.google.com/github/anvitha-jain/MLColab/blob/master/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **German Credit Data - MidTerm**

> 

---

###  **Name**: Anvitha Shubhaveer Jain
###    **ID**: 013738478

---

# **Tabel of Contents**


> 1.  German Credit DataSet
        1.1.  Read Data CSV
        1.2.  Data Cleaning
        1.3.  Data Analysis/ EDA
2. Dimensionality reduction using PCA     ....<-10
3. Clustering
        3.1. GMM       <-1
        3.2. K-means   <-2
4. Classification
        4.1. Linear Reg      <-3
        4.2. Logistic Reg    <-4
        4.3. Naive Bayes     <-5
        4.4. Decision Tree   <-6
        4.5. Random Forest   <-7
        4.6. Support Vector Machine - SVM   <-8
        4.7. K-Nearest Neighbor - KNN       <-9

All 10 Algorithms: from Clustering = 2, Classification = 7 and PCA are solved but numbered differently.

# **1. German Credit DataSet**

When a bank receives a loan application, based on the applicant’s profile the bank has to make a decision regarding whether to go ahead with the loan approval or not. Two types of risks are associated with the bank’s decision –

If the applicant is a good credit risk, i.e. is likely to repay the loan, then not approving the loan to the person results in a loss of business to the bank If the applicant is a bad credit risk, i.e. is not likely to repay the loan, then approving the loan to the person results in a financial loss to the bank

**Objective of Analysis:**


> Minimization of risk and maximization of profit on behalf of the bank.



> To minimize loss from the bank’s perspective, the bank needs a decision rule regarding who to give approval of the loan and who not to. An applicant’s demographic and socio-economic profiles are considered by loan managers before a decision is taken regarding his/her loan application.

The German Credit Data contains data on 20 variables and the classification whether an applicant is considered a Good or a Bad credit risk for 1000 loan applicants.

A predictive model developed on this data is expected to provide a bank manager guidance for making a decision whether to approve a loan to a prospective applicant based on his/her profiles.

<B>Description of the German credit dataset.</B>

1. <B>Title:</B> German Credit data

2. <B>Source Information</B>

Professor Dr. Hans Hofmann Institut f"ur Statistik und "Okonometrie Universit"at Hamburg FB Wirtschaftswissenschaften Von-Melle-Park 5 2000 Hamburg 13

3. <B>Number of Instances:</B> 1000

4. Two datasets are provided. the original dataset, in the form provided by Prof. Hofmann, contains categorical/symbolic attributes and is in the file "german.data".

5. For algorithms that need numerical attributes, Strathclyde University produced the file "german.data-numeric". This file has been edited and several indicator variables added to make it suitable for algorithms which cannot cope with categorical variables. Several attributes that are ordered categorical (such as attribute 17) have been coded as integer. This was the form used by StatLog.

6. <B>Number of Attributes german:</B> 20 (7 numerical, 13 categorical) Number of Attributes german.numer: 24 (24 numerical)

7. <B>Attribute description for german</B>

Attribute 1: (qualitative) (4 items -> 2 bits) Status of existing checking account 

    A11 : ... < 0 DM 
    A12 : 0 <= ... < 200 DM 
    A13 : ... >= 200 DM / salary assignments for at least 1 year A14 : no checking account

Attribute 2: (numerical) (Gaussian normalization) Duration in month

Attribute 3: (qualitative) (4 items -> 2 bits) Credit history 

      A30 : no credits taken/ all credits paid back duly 
      A31 : all credits at this bank paid back duly 
      A32 : existing credits paid back duly till now 
      A33 : delay in paying off in the past 
      A34 : critical account/ other credits existing (not at this bank)

Attribute 4: (qualitative) Purpose 

      A40 : car (new) 
      A41 : car (used) 
      A42 : furniture/equipment 
      A43 : radio/television 
      A44 : domestic appliances 
      A45 : repairs 
      A46 : education 
      A47 : (vacation - does not exist?) 
      A48 : retraining 
      A49 : business 
      A410 : others

Attribute 5: (numerical) (Gaussian normalization) Credit amount

Attibute 6: (qualitative) Savings account/bonds 

      A61 : ... < 100 DM 
      A62 : 100 <= ... < 500 DM 
      A63 : 500 <= ... < 1000 DM 
      A64 : .. >= 1000 DM A65 : unknown/ no savings account

Attribute 7: (qualitative) Present employment since 

      A71 : unemployed 
      A72 : ... < 1 year 
      A73 : 1 <= ... < 4 years 
      A74 : 4 <= ... < 7 years 
      A75 : .. >= 7 years

Attribute 8: (numerical) (Gaussian normalization) Installment rate in percentage of disposable income

Attribute 9: (qualitative) Personal status and sex 

      A91 : male : divorced/separated 
      A92 : female : divorced/separated/married 
      A93 : male : single 
      A94 : male : married/widowed 
      A95 : female : single

Attribute 10: (qualitative) Other debtors / guarantors 

      A101 : none 
      A102 : co-applicant 
      A103 : guarantor

Attribute 11: (numerical) (Gaussian normalization) Present residence since

Attribute 12: (qualitative) (4 items -> 2 bits) Property 

      A121 : real estate 
      A122 : if not 
      A121 : building society savings agreement/ life insurance 
      A123 : if not 
      A121/A122 : car or other, not in attribute 6 
      A124 : unknown / no property

Attribute 13: (numerical) (Gaussian normalization) Age in years

Attribute 14: (qualitative) Other installment plans 

      A141 : bank 
      A142 : stores 
      A143 : none

Attribute 15: (qualitative) Housing 

      A151 : rent 
      A152 : own 
      A153 : for free

Attribute 16: (numerical) (Gaussian normalization) Number of existing credits at this bank

Attribute 17: (qualitative) (4 items -> 2 bits) Job 

      A171 : unemployed/ unskilled - non-resident 
      A172 : unskilled - resident 
      A173 : skilled employee / official 
      A174 : management/ self-employed/ highly qualified employee/ officer

Attribute 18: (numerical) (Gaussian normalization) Number of people being liable to provide maintenance for

Attribute 19: (qualitative) (Binary) Telephone 

      A191 : none 
      A192 : yes, registered under the customers name

Attribute 20: (qualitative) (Binary) foreign worker 

      A201 : yes 
      A202 : no

 8. <B>Cost Matrix</B>
  
This dataset requires use of a cost matrix (see below)

. | 1 | 2
--- | --- | ---
**1** | 0 | 1
**2** | 5 | 0
 


(1 = Good, 2 = Bad)

the rows represent the actual classification and the columns the predicted classification. It is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).

# **1.1. Read Data CSV**

<B>Notes:</B>
    
- DM stands for Deutsche Mark, the unit of currency in Germany.
- Owns_telephone: German phone rates are very high, so fewer people own telephones.
- Foreign_worker: There are millions of foreign worker working in Germany
- 20 attributes used in judging a loan applicant. The goal is the classify the applicant into one of two categories, good or bad, which is the last attribute
- This dataset is typical of data used in data mining: we have 1000 records.

1. First We need to analyze the data set (use the numerical version). Visualize the Data Set. This can be done in various ways, from single visualizations to doing pairplot
2. Cluster the data, use GMM and then k-means. visulaize it. Interpret it. Compare.
3. use linear regression to see thre trends, interpret them,
4. Then classify the data -- pick a couple of good things to classify by -- use logistic regression for a binary classification (maybe default no default) (maybe other attribute) and
5. use Random Forest to classify if they will default or not.

### **Import the necessary libraries**

In [0]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.decomposition import PCA 
from sklearn.preprocessing import normalize
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import silhouette_score

### **Read Data**
Original Dataset
http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/

Numeric Dataset Stored in "[MLFall2019/crimerate-seers/MidtermData/GermanDataNumeric.csv](MLFall2019/crimerate-seers/MidtermData/GermanDataNumeric.csv)"

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
#Original Dataset from  http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data

# Currently data is stored in drive path " MLFall2019/crimerate-seers/MidtermData/GermanDataNumeric.csv "
germandf = pd.read_csv("/content/drive/My Drive/MLFall2019/crimerate-seers/MidtermData/GermanDataNumeric.csv")
germandf.head()

   StatusCheckingAccount  ...  CostMatrix
0                      1  ...           1
1                      2  ...           2
2                      4  ...           1
3                      1  ...           1
4                      1  ...           2

[5 rows x 25 columns]

In [38]:
# print inital shapes for csv i.e tha germandataframe = germandf
print("Initial Shape of German Credit Data:",germandf.shape,'\n')

Initial Shape of German Credit Data: (1000, 25)

In [39]:
#Copying the original dataframe (germandf) to form pca dataframe
germandf_pca=germandf
#get the shape of the pca dataframe
print("Initial Shape of PCA - German Credit Data:",germandf_pca.shape,'\n')

Initial Shape of PCA - German Credit Data: (1000, 25)

In [40]:
#decribe the dataframe
germandf.describe()

       StatusCheckingAccount  ...   CostMatrix
count            1000.000000  ...  1000.000000
mean                2.577000  ...     1.300000
std                 1.257638  ...     0.458487
min                 1.000000  ...     1.000000
25%                 1.000000  ...     1.000000
50%                 2.000000  ...     1.000000
75%                 4.000000  ...     2.000000
max                 4.000000  ...     2.000000

[8 rows x 25 columns]

In [41]:
germandf.CostMatrix.value_counts()

1    700
2    300
Name: CostMatrix, dtype: int64

### **From counting the values in Cost Matrix column from the german dataframe we can analyze that:**

* **700** were granted the credit. Therfore, they are **good credit customers.**

* **300** weren't granted the credit. Therfore, they are  **bad credit customers.** 

We can observe that the ***data_set is not balanced*** *with positive and negative differences of 400*.

.

# **1.2. Cleaning Data**

In [43]:
#Check the Null values in Dataset

germandf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
StatusCheckingAccount                           1000 non-null int64
DurationMonth                                   1000 non-null int64
CreditHistory                                   1000 non-null int64
CreditAmount                                    1000 non-null int64
SavingsAccount/bonds                            1000 non-null int64
PresentEmployment                               1000 non-null int64
PersonalStatusAndSex                            1000 non-null int64
PresentResidence                                1000 non-null int64
Property                                        1000 non-null int64
AgeInYears                                      1000 non-null int64
OtherInstallmentPlans                           1000 non-null int64
NoOfExistingCreditsAtThisBank                   1000 non-null int64
NoOfPeopleBeingLiableToProvideMaintenanceFor    1000 non-null int64
Telephone                                       1000 non-null int64
ForeignWorker                                   1000 non-null int64
NewCar                                          1000 non-null int64
UsedCar                                         1000 non-null int64
None_Guarantors                                 1000 non-null int64
Co-applicant_Guarantors                         1000 non-null int64
HousingRent                                     1000 non-null int64
HousingOwn                                      1000 non-null int64
Job_unemployed/unskilled-non-resident           1000 non-null int64
Job_unskilled-resident                          1000 non-null int64
Job _SkilledEmployee/official                   1000 non-null int64
CostMatrix                                      1000 non-null int64
dtypes: int64(25)
memory usage: 195.4 KB